.idea
node_modules/
.vscode
.cache-loader/
package-lock.json
yarn.lock
.yarnclean
yarn-error.log
_bundles/
lib/*
lib-esm/*
lib/
lib-esm/
docs/*
src/*.js
tsc-emit/*
**/tsc-emit/**/*.*
*/**/src/*.js
*/**/src/**/*.js
src/*.d.ts
*/**/src/*.d.ts
*/**/src/**/*.d.ts
src/*.map
*/**/src/*.map
*/**/src/**/*.map
linter/*
coverage/*
.jest-cache/
_bundles/*
dist/*